<html lang="bg">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/output.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/intellij-light.min.css">
  <script src="https://kit.fontawesome.com/da4aaf63d5.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script type="text/javascript" src="/scripts/toggleMode.js"></script>
  <script type="text/javascript" src="/scripts/progressBar.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Source Serif Pro' rel='stylesheet'>
  <link rel="icon" type="image/x-icon" href="/assets/theta_icon.png">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$']]
      },
      svg: {
        fontCache: 'global'
      },
      loader: {
        load: ['ui/lazy']
      },
      chtml: {
          linebreaks: {
            automatic: true,
            width: 'container'
          }
        }
    };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <title>{{ titleBar }}</title>
  <link rel="icon" href="../assets/theta_icon.png">
</head>

<body class="flex">
  {% include 'header.njk' %}
  <main class="flex-grow ml-[16.5%] w-full min-w-0">
    {{ content | safe }}
  </main>
  <span class="pageNr" style="display: none;">{{ pageNr }}</span>
  <span class="iconClr" style="display: none;">{{ iconClr }}</span>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var pageNr = document.querySelector(".pageNr").innerHTML;
      var iconClr = document.querySelector(".iconClr").innerHTML;

      var li = document.querySelectorAll("nav ul .nav-item");
      li[pageNr - 1].style.backgroundColor = "var(--nav-item-bg-clr)";
      
      var icon = li[pageNr - 1].querySelector("i");
      icon.style.color = "var(" + iconClr + ")";
    });
  </script>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll()</script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>