<header>
    <nav>
        <div class="logo">
            <h1><a href="/">А&Omega;г&Theta;ритми</a></h1>
        </div>
        <ul>
            <a href="/"><li><i class="fa-solid fa-house"></i>Начало</li></a>
            <a href="/lectures"><li><i class="fa-solid fa-book"></i>Лекции</li></a>
            <a href="#"><li><i class="fa-solid fa-globe"></i>Новини</li></a>
            <a href="#"><li><i class="fa-solid fa-question"></i>За сайта</li></a>
        </ul>
        <div class="nav-buttons">
            <button class="btn-mode"><i class="fa-regular fa-moon"></i></button>
            <button class="btn-mode"><i class="fa-solid fa-envelope"></i></button>
        </div>
    </nav>
</header>