<header>
    <nav>
        <div class="logo">
            <h1><a href="/">А&Omega;г&Theta;ритми</a></h1>
        </div>
        <ul>
            <li><a href="/"><i class="fa-solid fa-house"></i>Начало</a></li>
            <li><a href="/lectures"><i class="fa-solid fa-book"></i>Лекции</a></li>
            <li><a href="#"><i class="fa-solid fa-globe"></i>Новини</a></li>
            <li><a href="#"><i class="fa-solid fa-question"></i>За сайта</a></li>
        </ul>
        <div class="nav-buttons">
            <button class="btn-mode"><i class="fa-regular fa-moon"></i></button>
            <button class="btn-mode"><i class="fa-solid fa-envelope"></i></button>
        </div>
    </nav>
</header>