.lecture-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-align: center;
}

.lecture-container {
    font-family: "Noto Sans", sans-serif !important;
    display: flex;
    flex-direction: column;  
}

.lecture-container h2,
.lecture-container h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.lecture-container p,
.lecture-container ul {
    text-indent: 3rem;
    text-align: justify;
    hyphens: auto;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    list-style: none;
}

.lecture-container img {
    display: block;
    margin-inline: auto;
    margin-bottom: 1rem;
    width: 300px;
}

.lecture-container em {
    text-indent: 0;
    display: block;
    text-align: center;
}

.lecture-container pre {
    width: 70%;
    margin-inline: auto;
    white-space: pre-wrap;
    margin-bottom: 2rem;
    code {
        font-family: "Consolas" !important;
        border-radius: 0.75rem;
        font-size: 1rem;
    }
}

.MathJax {
    font-size: 1.25rem !important;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}
.article-footer h2 {
    font-size: 1rem;
    margin-top: 1rem;
}