.lecture-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-align: center;
}

.lecture-container {
    display: flex;
    flex-direction: column;
    font-family: 'Source Serif Pro';
}

.lecture-container h2,
.lecture-container h3 {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.lecture-container p {
    text-indent: 3rem;
    text-align: justify;
    margin-bottom: 2rem;
    letter-spacing: 0.02em;
    font-size: 1.1rem;
}

.lecture-container img {
    display: block;
    margin-inline: auto;
    margin-bottom: 1rem;
    width: 300px;
}

.lecture-container em {
    text-indent: 0;
    display: block;
    text-align: center;
}

.lecture-container pre {
    width: 50%;
    margin-inline: auto;
    white-space: pre-wrap;
    margin-bottom: 2rem;
    code {
        border-radius: 0.75rem;
    }
}

.article-footer {
    display: flex;
    justify-content: space-between;
}
.article-footer h2 {
    font-size: 1rem;
    margin-top: 1rem;
}