:root {
    --clr-house: rgb(204, 204, 135);
    --clr-book: rgb(196, 164, 132);
    --clr-question: rgb(246, 110, 110);
    --clr-globe: rgb(183, 252, 252);
}

header {
    background-color: rgb(17, 24, 39);
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0 auto; 
    width: 100vw;
    font-size: 1.2rem;
}

.logo {
    line-height: 64px;
    height: 100%;
}

.logo,
ul,
.nav-buttons {
    flex: 1;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
}

.logo h1 {
    font-size: 2rem;
}

.logo h1 a {
    display: inline-block;
    line-height: 64px;
    height: 100%;
    opacity: 0.8;
    transition: all 0.2s ease;
}

.logo h1 a:hover {
    opacity: 1;
    cursor: pointer;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    height: 100%;
}

nav li {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 64px;
    opacity: 0.8;
    transition: all 0.2s ease;
}

nav li:hover {
    opacity: 1;
}

nav a>i {
    margin-right: 0.5rem;
    transition: all 0.2s ease;
}

nav li>a {
    display: block;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right, #38bdf8, #c084fc);
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    transition: all 0.3s ease
}

nav li>a:hover {
    background-size: 100% 1px;
    .fa-house {
        color: var(--clr-house)
    }
    .fa-book {
        color: var(--clr-book)
    }
    .fa-question {
        color: var(--clr-question);
    }
    .fa-globe {
        color: var(--clr-globe)
    }
}

.fa-moon {
    font-size: 1.5rem;
    color: rgb(252, 252, 209);
}
.fa-envelope {
    font-size: 1.5rem;
    color: rgb(235, 233, 233);
}

.btn-mode {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    padding: 0.425rem;
    transition: all 0.2s ease;
}

.btn-mode:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-mode:active {
    background-color: rgba(255, 255, 255, 0.3);
}