.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-block: 6rem;
}

.intro>h1 {
    font-size: 5rem;
}

.intro>p {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    line-height: 2.6rem;
}

.intro>a.link-lectures {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
    background-color: white;
    padding: 1.5rem;
    color: black;
    border-radius: 1rem;
    box-shadow: 0 0 10px #38bdf8; 
    transition: all 0.5s ease;
}

.intro>a.link-lectures:hover {
    box-shadow: 0 0 15px #c084fc; 
}

.txt-gradient {
    background: linear-gradient(to right, #38bdf8, #c084fc);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 35em)
{
    .wrapper {
        padding-inline: 1rem !important;
    }
    .intro>h1 {
        font-size: 3rem;
    }
    .intro>p {
        font-size: 1.5rem;
    }
    .intro>a.link-lectures {
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
    }
}