---
titleBar: Начало - algoritmi.bg
layout: 'base.njk'
pageNr: 1
iconClr: --clr-house
---
<div class="lg:px-40 py-14 px-5 h-screen grid place-items-center">
    <div class="text-center grid place-items-center gap-10">
        <h1 class="lg:text-8xl text-4xl font-bold">Алгоритми.bg</h1>
        <p class="lg:text-3xl text-xl"><span class="txt-gradient">Безплатен</span> ресурс с лекции по състезателно програмиране,<br>
            написани на <span class="txt-gradient">разбираем</span> и <span class="txt-gradient">достъпен</span>
            език
        </p>
        <a class="bg-white p-6 font-medium lg:text-2xl text-xl rounded-2xl shadow-[0_0_5px_#38bdf8] hover:shadow-[0_0_8px_#c084fc] transition-all duration-300" href="/lectures">Към лекциите</a>
    </div>
</div>