---
title: Начало - algoritmi.bg
layout: 'base.njk'
pageNr: 1
iconClr: --clr-house
---
<div class="wrapper">
    <div class="intro">
        <h1>Алгоритми.bg</h1>
        <p><span class="txt-gradient">Безплатен</span> ресурс с лекции по състезателно програмиране,<br>
            написани на <span class="txt-gradient">разбираем</span> и <span class="txt-gradient">достъпен</span>
            език
        </p>
        <a class="link-lectures" href="/lectures">Към лекциите</a>
    </div>
</div>