---
title: Лекции - algoritmi.bg
layout: 'base.njk'
pageNr: 2
iconClr: --clr-book
---
<div class="wrapper">
    <div class="lectures-container">
        <h2>Основи на състезателното програмиране</h2>
        <ul>
            <li>STL библиотека</li>
            <li>Сложност по време и памет на алгоритми</li>
        </ul>
        <h2>Основни алгоритми</h2>
        <ul>
            <li>Рекурсия и пълно изчерпване</li>
            <li>Алчни алгоритми</li>
            <li>Двоично търсене</li>
            <li>Префиксни суми</li>
            <li>Сортиране</li>
            <li>Побитови операции</li>
        </ul>
        <h2>Математически алгоритми</h2>
        <ul>
            <li>Прости числа</li>
            <li>Функция на Ойлер</li>
            <li>Дълги числа</li>
            <li>Бързо повдигане на степен</li>
            <li>Модулна аритметика</li>
            <li>Алгоритъм на Евклид и най-малко общо кратно</li>
            <li>Разширен алгоритъм на Евклид и диофантови уравнения</li>
            <li>Умножение на матрици</li>
        </ul>
        <h2>Алгоритми с графи и дървета</h2>
        <ul>
            <li>Увод в графите</li>
            <li>Търсене в дълбочина и ширина</li>
            <li>Най-къс път в граф</li>
            <li>Топологично сортиране</li>
            <li>Минимално покриващо дърво</li>
            <li>Силно свързани компоненти</li>
            <li>Ойлерови цикли и пътища</li>
            <li>Артикулационни върхове и ребра</li>
            <li style="opacity: 1;">k-ти предшественик на връх на дърво</li>
            <li>Най-близък общ предшественик</li>
            <li>Потоци</li>
            <li>Двойкосъчетания в графи</li>
        </ul>
        <h2>Алгоритми с низове</h2>
        <ul>
            <li>Хеширане и алгоритъм на Рабин-Карп</li>
            <li>KMP-алгоритъм</li>
            <li>Z-алгоритъм</li>
            <li>Алгоритъм на Ахо-Корасик</li>
            <li>Суфиксен масив</li>
        </ul>
        <h2>Динамично програмиране</h2>
        <ul>
            <li>Увод в динамичното програмиране</li>
            <li>Итеративно динамично програмиране</li>
            <li>Динамично програмиране с битови маски</li>
            <li>Динамично програмиране с дървета</li>
            <li>Динамично програмиране по профил</li>
            <li>Оптимизации на динамични задачи</li>
        </ul>
        <h2>Структури от данни</h2>
        <ul>
            <li>Динамичен масив</li>
            <li>Свързан списък</li>
            <li>Стек и опашка</li>
            <li>Пирамида и приоритетна опашка</li>
            <li>Хештаблица</li>
            <li>Двоично дърво за търсене</li>
            <li>Червено-черно дърво</li>
            <li>Несвързани множества</li>
            <li>Сегментно дърво</li>
            <li>Интервално дърво</li>
            <li>K-D дърво</li>
            <li>Префиксно дърво</li>
        </ul>
        <h2>Други техники и алгоритми</h2>
        <ul>
            <li>Минимум в интервал</li>
            <li>Троично търсене</li>
            <li>Плъзгащ се прозорец</li>
            <li>Срещане в средата</li>
        </ul>
    </div>
</div>