---
titleBar: Новини - algoritmi.bg
layout: 'base.njk'
pageNr: 3
iconClr: --clr-globe
---
<div class="lg:px-40 lg:py-14 py-5 px-5">
    <h1 class="text-center lg:text-6xl text-4xl underline mb-7">Новини</h1>
    <div>
        <h2 class="lg:text-5xl text-3xl mb-7">Нова функционалност</h2>
        <p class="mb-7 lg:text-xl text-lg">
            Страницата с новини вече е факт! Тук ще можете да следите работата по сайта (нови функционалности, нови лекции и др.) 
        </p>
        <p style="text-align: right; margin-bottom: 1rem;">23.08.2024</p>
        <hr class="mb-7">
    </div>
</div>